#unused files
zadanie1/py/make_plots.py
src/Timer.cpp
src/Timer.h
wyniki/
#bin folder
bin
bin/
bin/*
#laout codeblocks
*.layout
struktury2.cbp
*.depend
#file manager temp file
.directory
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
